[Desktop Entry]
Name=Monochrome
X-KDE-PluginInfo-Author=Patrik Wyde
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=patrik@wyde.se
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Monochrome
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=https://gitlab.com/pwyde/monochrome-kde
