[Desktop Entry]
Comment=A dark theme inspired by black and white photography.

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Monochrome

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Patrik Wyde
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=patrik@wyde.se
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=com.gitlab.pwyde.monochrome-kde
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=https://gitlab.com/pwyde/monochrome-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1279083,kns://plasma-themes.knsrc/api.kde-look.org/1279077,kns://aurorae.knsrc/api.kde-look.org/1279082,kns://icons.knsrc/api.kde-look.org/1166289,kns://sddmtheme.knsrc/api.kde-look.org/1283380
